@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glowing {
  0% { box-shadow: 0 0 5px #fff; }
  50% { box-shadow: 0 0 20px #ff5e5e, 0 0 30px #ff5e5e; }
  100% { box-shadow: 0 0 5px #fff; }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
